<p>hello world</p>
<h2>Text Setting</h2>

<p>{{ section.settings.text_setting }}</p>

<h2>Textarea Setting</h2>
<p>{{ section.settings.textarea_setting | newline_to_br }}</p>

<h2>Richtext Setting</h2>
<div>{{ section.settings.richtext_setting }}</div>


<h2>Inline Richtext Setting</h2>
<div>{{ section.settings.inline_richtext_setting }}</div>


<h2>Number Setting</h2>
<div>{{ section.settings.number_setting }}</div>

<h2>Range Setting</h2>
<div>{{ section.settings.range_setting }}</div>


<h2>Select Setting</h2>
<div>{{ section.settings.select_setting }}</div>

<h2>Checkbox Setting</h2>
{% if section.settings.checkbox_setting == true %}
    <p>checkbox is true</p>
{% else %}
    <p>checkbox is false</p>
{% endif %}


<h2>Radio Setting</h2>
<div>{{ section.settings.radio_setting }}</div>




{% schema %}
    {
        "name": "Sections Tutorial",
        "tag": "section",
        "class": "section-tutorial",
        "limit": 2,
        "settings": [
            {
                "type": "text",
                "id": "text_setting",
                "label": "Theme Setting",
                "default": "This is my first setting",
                "info": "This is some helper text"
            },
            {
                "type": "textarea",
                "id": "textarea_setting",
                "label": "Textarea Setting",
            },
            {
                "type": "richtext",
                "id": "richtext_setting",
                "label": "Richtext Setting",
            },
            {
                "type": "inline_richtext",
                "id": "inline_richtext_setting",
                "label": "Inline Richtext Setting",
            },
            {
                "type": "number",
                "id": "number_setting",
                "label": "Number Setting",
                "placeholder": "This is a placeholder"
            },
            {
                "type": "range",
                "id": "range_setting",
                "label": "Range Setting",
                "min": 50,
                "max": 150,
                "step": 5,
                "unit": "px",
                "default": 60
            },
            {
                "type": "select",
                "id": "select_setting",
                "label": "Select Setting",
                "options": [
                    {
                        "value": "value1",
                        "label": "Value 1"
                    },
                    {
                        "value": "value2",
                        "label": "Value 2"
                    },                   
                    {
                        "value": "value3",
                        "label": "Value 3"
                    },                    
                    {
                        "value": "value4",
                        "label": "Value 4"
                    },                    
                    {
                        "value": "value5",
                        "label": "Value 5"
                    }
                ]
            },
            {
                "type": "checkbox",
                "label": "Checkbox Setting",
                "id": "checkbox_setting",
                "default": true
            },
            {
                "type": "radio",
                "label": "Radio Button Setting",
                "id": "radio_setting",
                "options": [
                    {
                        "value": "value-1",
                        "label": "Value 1"
                    },
                                        {
                        "value": "value-2",
                        "label": "Value 2"
                    },                    {
                        "value": "value-3",
                        "label": "Value 3"
                    },
                                        {
                        "value": "value-4",
                        "label": "Value 4"
                    }
                ]
            }
        ],
        "blocks": [],
        "presets": [
            {
                "name": "Sections Tutorial",
                "settings": {}
            }
        ]
    }
{% endschema %}